<div class="navbar navbar-expand bg-info p-4 h3  px-5">
  <div class="container-fluid text-light px-3">Forecasting</div>

  {% if location %}
  <div class="btn btn-primary text-center mx-3 login-btn bg-info"><a href="/day">Day</a></div>

  <div class="btn btn-primary text-center login-btn bg-info "><a href="/predict">Predict</a></div>
  {% elif day %}
  <div class="btn btn-primary text-center mx-3 login-btn bg-info"><a href="/predict">Predict</a></div>

  <div class="btn btn-primary text-center login-btn bg-info"><a href="/">Home</a></div>
  {% else %}
  <div class="btn btn-primary text-center mx-3 login-btn bg-info"><a href="/day">Day</a></div>
  <div class="btn btn-primary text-center login-btn bg-info"><a href="/">Home</a></div>

  {% endif%}
</div>
